@import "../../styles/mixins";
@import "../../styles/vars";

.header {
    width: 100%;
    height: 20vh;
    background-color: white;
    border-bottom:10px solid $secondaryColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10vw;

    @include BreakPoint(mobile-only) {
        height: 15vh;
    }

    .logo {
        img {
            opacity: 0.95;
            width: 9vw;

            @include BreakPoint(mobile-only) {
                width: 19vw;
            }

            @include BreakPoint(tablet-up) {
                width: 17vw;
            }
        }
    }

    .perfil {
        width: 18vw;
        border-radius: 40px;
        background-color: aliceblue;
        display: flex;
        align-items: center;

        @include BreakPoint(mobile-only) {
            background-color: transparent;
        }

        @include BreakPoint(tablet-up) {
            width: 30vw;
            border-radius: 60px;
        }

        .UserName {
            margin-left: 10%;

            @include BreakPoint(mobile-only) {
                display: none;
            }
        }

        img {
            border-radius: 50%;
            height: 10vh;

            @include BreakPoint(mobile-only) {
                height: 8vh;
            }

        }

        p {
            margin-left: 10%;
        }
    }
}