@import "../../styles/mixins";


.dash{
    &-board{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        overflow: hidden;
        overflow-y: scroll;
        @include BreakPoint(desktop-md-up){
            flex-direction: column;
        }

        &-main{
            width: 100%;
            height: 85vh;
            overflow:hidden;
            overflow-y: scroll;
        }
    }
    &-area{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}