
<div class="d-flex justify-content-center">
    <h1>Login</h1>
</div>

<form [formGroup]="form" class="form-group d-grid gap-4 w-100">
    <fieldset class="form-group w-100">
        <label for="name" class="form-label"> Nome: </label>
        <input type="text" id="name" class="form-control" formControlName="name">
        <span class="invalid-feedback-description" *ngIf="this.invalidfeedbacks[0]">
            campo vazio !
        </span>
    </fieldset>
    <fieldset class="form-group w-100">
        <label for="password" class="form-label"> Senha: </label>
        <input type="text" id="password" class="form-control" formControlName="password">
        <span class="invalid-feedback-description" *ngIf="this.invalidfeedbacks[1]">
            campo vazio !
        </span>
    </fieldset>
    <fieldset class="form-group">
        <button type="button" class="btn btn-personality" (click)="login()">
            <p *ngIf="!load else loaded" class="text-center my-auto"> Login </p>
            <ng-template #loaded>
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </ng-template>
        </button>
    </fieldset>
</form>