@import "../../styles/mixins";
@import "../../styles/vars";

.tableOverflow {
    height: 45vh;
    overflow: hidden;
    overflow-y: scroll;
}

.main {
    height: 40vh;
    width: 100%;
    position: relative;
    background-color: $mainColor;
    display: flex;
    padding-top: 30px;
    color: white;
}

.card {
    display: flex;
    width: 40%;
    position: relative;
    height: auto;
    margin: auto;
    top: -150px;
    border: 3px solid white;
    background-color: $secondaryColor;

    @include BreakPoint(tablet-only) {
        width: 90%;
    }
}