<div class="container-fluid d-flex p-0 m-0 flex-column  ">
    <div class="main">
        <h2 class="position-absolute text-center w-100"> executar estorno de venda </h2>
        <section class="row w-100">
            <div class="col-12 w-100">
                <form class="m-5 d-flex align-items-center flex-wrap justify-content-center px-lg-5">
                    <fieldset class="form-group text-center ">
                        <label for="command" class="form-label"> informe o numero de telefone do usuário:</label>
                        <input type="text" id="command" class="form-control" [formControl]="this.phoneControl">
                    </fieldset>
                    <button type="button" class="btn btn-success w-50 my-2 mx-lg-5" (click)="this.confirm()">
                        confirmar
                    </button>
                </form>
            </div>

            <div class="d-flex justify-content-center tableOverflow">
                <table class="table table-dark table-hover ms-5 w-auto" *ngIf="this.productsOrder.length > 0">
                    <thead>
                        <tr>
                            <td>Nome</td>
                            <td>Quantiedade disponível</td>
                            <td class="d-none d-xl-table-cell justify-content-end">
                                <button class="btn btn-warning" (click)="this.refoundAll()"> reembolsar tudo </button>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of this.productsOrder"
                            [attr.data-bs-toggle]="modalAvaibleToOpen ? 'modal' : null"
                            [attr.data-bs-target]="modalAvaibleToOpen ? '#refound' : null"
                            (click)="this.chosenProduct(item)">
                            <td> {{item.productName}} </td>
                            <td> {{item.quantity}} </td>
                            <td class="d-none d-xl-flex grid gap-2">
                                <button class="btn btn-secondary" (click)="this.addToRemove(item)"> + </button>
                                {{item.quantityToRemove}}
                                <button class="btn btn-secondary" (click)="this.lessToRemove(item)"> - </button>
                                <button class="btn btn-warning" (click)="this.refound(item)"> reembolsar </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>

<ng-container *ngIf="modalAvaibleToOpen;">
    <div class="modal fade" id="refound" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" *ngIf="this.productOrderChosen != undefined">
                <div class="modal-header">
                    <div class="d-block">
                        <h2 class="modal-title fs-5"> Produto: ({{ productOrderChosen.productName }}) </h2>
                        <h2 class="modal-title fs-5"> quantiedade restante: {{ productOrderChosen.quantity }} </h2>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body grid gap-2 d-flex">
                    <button class="btn btn-secondary" (click)="this.addToRemove(productOrderChosen)"> + </button>
                    {{productOrderChosen.quantityToRemove}}
                    <button class="btn btn-secondary" (click)="this.lessToRemove(productOrderChosen)"> - </button>
                    <button class="btn btn-warning" (click)="this.refound(productOrderChosen)"> reembolsar </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancelar</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>