<section class="container-fluid p-2 py-5 d-flex justify-content-between main">
    <div class="row row-cols-1 row-cols-md-3 mx-5 card-group">
        <div class="card py-5 col-12 col-md-1">
            <a routerLink="create-products">
                <div class="card-body text-center">
                    <div class="d-flex justify-content-center mb-5">
                        <i class="fi fi-rr-notebook-alt" style="font-size: 100px !important;"></i>
                    </div>
                    <h3 class="card-title">
                        inserir novo produto
                    </h3>
                </div>
            </a>
        </div>

        <div class="card py-5 col-12 col-md-4 teste">
            <a routerLink="commerce">
                <div class="card-body text-center">
                    <div class="d-flex justify-content-center mb-5">
                        <i class="fi fi-rr-cart-arrow-down" style="font-size: 100px !important;"></i>
                    </div>
                    <h3 class="card-title">
                        inserir nova venda
                    </h3>
                </div>
            </a>
        </div>

        <div class="card py-5 col-12 col-md-4">
            <a routerLink="list-of-productss">
                <div class="card-body text-center">
                    <div class="d-flex justify-content-center mb-5">
                        <i class="fi fi-rr-list" style="font-size: 100px !important;"></i>
                    </div>
                    <h3 class="card-title">
                        listar produtos
                    </h3>
                </div>
            </a>
        </div>
    </div>
</section>